
<img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed mt-5 mb-5" alt="Logo">

<h1>Salut,</h1>

<p>
    Clique sur le lien ci-dessous pour valider ton inscription : <br><br>
    <a href="{{ signedUrl }}">Validation de mon compte Jodelap Coaching</a>. <br><br>
    Le lien expire dans : {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Sportivement,
</p>
<p>
    Jodelap Coaching
</p>
