<p>Hello,</p>

<p>
    Cliquez sur le lien ci-dessous et connectez-vous pour valider votre inscription : <br><br>
    <a href="{{ signedUrl }}">Validation de mon compte Jodelap Coaching</a>. <br><br>
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Sportivement et à très bientôt sur le vélo,
</p>
<p>
    Jodelap Coaching
</p>
