{% extends 'base.html.twig' %}

{% block title %}Jodelap Coaching - Conditions de vente - {% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-5 mt-5">Conditions générales d'utilisation et de ventes</h1>

    <h3>Objet</h3>
    <br>
    <p>Les présentes conditions régissent les ventes par Jodelap Coaching</p>
    <hr>
    <br>
    <h3>Les prix</h3>
    <br>
    <p>Les prix de nos produits sont indiqués en euros toutes taxes comprises.</p>
    <p>Jodelap Coaching se réserve le droit de modifier ses prix à tout moment, mais le produit sera
        facturé sur la base du tarif en vigueur au moment de la validation de la commande</p>
    <p>Les prix proposés sont fixes. Ils comprennent l'encadrement par un moniteur diplômé d’état.</p>
    <p>Ils ne comprennent pas les frais de transport, de remontées mécaniques, de location de matériel (si nécessaire)</p>

    <hr>
    <h3>Annulation de la commande</h3>
    <br>
    <p>14 jours précédant la date de réservation, la session de coaching peut être remboursée hormis 50€ de frais administratifs.</p>
    <p>5 à 13 jours avant la date de réservation, les séances ne sont pas remboursables mais peuvent être reportées.</p>
    <p>Une demande d'annulation dans les 5 jours avant la date prévue se verra non remboursable et non reportable.</p>
    <p>Une absence, un retard, un abandon ou même le mauvais temps ne justifient aucun remboursement.</p>
    <p>Une annulation part Jodelap Coaching sera remboursée dans sa totalité. Toutefois, je comprends que tout n'est pas prévisible et je suis ouvert à la discussion suivant les circonstances.</p>
    <hr>
    <br>
    <h3>Validation de votre commande</h3>
    <br>
    <p>Toute commande figurant sur le site Internet Jodelap Coaching suppose l’adhésion aux présentes Conditions
        Générales. Toute confirmation de commande entraîne votre adhésion pleine et entière aux présentes conditions
        générales de vente, sans exception ni réserve.</p>
    <p>L’ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction.</p>
    <p>Vous déclarez en avoir parfaite connaissance.</p>
    <p>La confirmation de commande vaudra signature et acceptation des opérations effectuées..</p>
    <hr>
    <br>
    <h3>Paiement</h3>
    <br>
    <p>Le fait de valider votre commande implique pour vous l’obligation de payer le prix indiqué.</p>
    <p>Le paiement se fera au moment de la session de coaching par chèque, espèces ou virement</p>
    <hr>
    <br>
    <h3>Les risques</h3>
    <br>
    <p>La pratique sportive du VTT en extérieur comporte de nombreux risques.</p>
    <p>Le port d'un casque conforme à la pratique et en parfait état est obligatoire pour toutes les activités proposées.</p>
    <p>Le port de genouillères, coudières, dorsale sont fortement recommandés.</p>
    <p>Chaque participant se doit de venir avec un matériel approprié, en état de fonctionnement et avoir de quoi réparer en cas de pièces spécifiques.</p>
    <p>Les sessions se font en milieu extérieur, ce qui peut impliquer des passages obligeant à respecter le code de la route.</p>
    <p>Joldelap Coaching se réserve le droit d'écarter un participant s'il se met ou met en danger les autres participants.</p>
    <p>Jodelap Coaching se réserve le droit d'annuler, de modifier l'activité si la sécurité du groupe est mise en cause.</p>
    <p>Chaque pilote atteste ne pas avoir de contre-indication sportive : un certificat médical de non contre-indication à la pratique du sport est recommandé.</p>
    <p>Pour les personnes mineures (non accompagnées), une autorisation parentale et un certificat médical sera demandé.</p>
    <p>Chaque participant doit être en possession d'une assurance en responsabilité civile, accident et assistance médicale.</p>
    <hr>
    <br>
    <h3>Responsabilité</h3>
    <br>
    <p>La responsabilité de Jodelap Coaching ne saurait être engagée pour tous les inconvénients ou
        dommages inhérents à l’utilisation du réseau Internet, notamment une rupture de service, une intrusion extérieure
        ou la présence de virus informatiques.</p>
    <hr>
    <br>
    <h3>Droit applicable en cas de litiges</h3>
    <br>
    <p>La langue du présent contrat est la langue française. Les présentes conditions de vente sont soumises à la loi
        française. En cas de litige, les tribunaux français seront les seuls compétents.</p>
    <hr>
    <br>
    <h3>Propriété intellectuelle</h3>
    <br>
    <p>Tous les éléments du site sont et restent la propriété intellectuelle et exclusive de la société Joldelap Coaching.
        Nul n’est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même
        partiellement, des éléments du site qu’ils soient logiciels, visuels ou sonores. Tout lien simple ou par
        hypertexte est strictement interdit sans un accord écrit exprès de la part de Jodelap Coaching.</p>
    <hr>
    <br>
    <h3>Données personnelles</h3>
    <br>
    <p>La société Jodelap Coaching se réserve le droit de collecter les informations nominatives et les données personnelles
        vous concernant. Elles sont nécessaires à la gestion de votre commande, ainsi qu’à l’amélioration des services
        et des informations que nous vous adressons.</p>
    <p>Elles peuvent aussi être transmises aux sociétés qui contribuent à ces relations, telles que celles chargées de
        l’exécution des services et commandes pour leur gestion, exécution, traitement et paiement..</p>
    <p>Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les obligations
        légales et réglementaires.</p>
    <p>Conformément à la loi du 6 janvier 1978, vous disposez d’un droit d’accès, de rectification et d’opposition aux
    <p>Il est possible que lors d'une séance, Jodelap Coaching filme ou prenne des photos à visée pédagogique. Elles sont susceptible d'être également utilisées à des fins promotionnelles, sauf refus de votre part.</p>
    <hr>
    <br>
    <h3>Archivage Preuve</h3>
    <br>
    <p>Joldelap Coaching archivera les bons de commandes et les factures sur un support fiable et durable
        constituant une copie fidèle conformément aux dispositions de l’article 1348 du Code civil.</p>
    <p>Les registres informatisés de Jodelap Coaching seront considérés par toutes les parties concernées
        comme preuve des communications, commandes et transactions intervenus entre les parties.</p>
    <div class="text-right mt-5 mb-5">
    <button onclick="retourner()" class="btn btn-dark">Fermer</button>
    </div>
</div>
<script>
    function retourner() {
        window.history.back();
    }
</script>




{% endblock %}
