.nav {
    width: 100%;
    height: 80px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
}

.nav div.logo a:hover {
    color:#A81616;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a, .dropdown-content{
    text-decoration: none;
    color: #fff;
    line-height: 65px;
}

.nav div.main_list ul li a:hover {
    color: #7E1B20;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 5;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1765px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:1765px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a  {
        text-align: center;
        width: 100%;
        padding: 20px;
    }

    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}

img.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto }

#footer {
    background: black;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}

#footer h3 {
    font-weight: 700;
    color: white;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;

}

.global-container {
    margin-bottom: 14%;
}

#footer p {

    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {

    display: inline-block;
    background: black;
    color: #fff;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    font-size: 20px;
}



#footer .social-links a:hover {
    background: #7E1B20;
}

#footer .copyright {
    margin: 0 0 5px 0;
}


.transition{
    transition: all ease-in-out 0.4s;
}

.transition:hover {
    transform: scale(1.1);
}

.gallery-item {
    overflow: hidden;
    border-right: 2px solid #fff;
    border-bottom: 3px solid #fff;
}

.sponsor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}


.size{
    width: 200px;
    max-width: 100%;
}

.ours:hover
{-webkit-filter: brightness(80%); }

.oursBtn{
    background-color: #F6AF52;
    padding: 10px;
    border-radius: 18px;
    border:  solid 1px;
    font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.oursBtn:hover
{-webkit-filter: brightness(80%); }


.testimonials {
    padding: 80px 0;
    background-image: url('../../img/photo1.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
}

[data-tooltip]:before {
    position : absolute;
    content : attr(data-tooltip);
    opacity : 0;
}

[data-tooltip]:hover:before {
    opacity : 1;
   background-color: #F6AF52;
    margin-left: 1.7em;
    margin-top: 20px;
    color:black;
    border-radius: 10px;
    padding: 5px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}

.testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(12, 11, 10, 0.7);
}

.testimonials .testimonial-item {
    text-align: center;
    color: #fff;
}


.testimonials .testimonial-item h4 {
    color: #ddd;
    margin: 0 0 15px 0;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
    color: #eee;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

.testimonials .owl-nav, .testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

@media (min-width: 1024px) {
    .testimonials {
        background-attachment: fixed;
    }
}

@media (min-width: 992px) {
    .testimonials .testimonial-item p {
        width: 80%;
    }
}


@media (max-width: 992px) {
    .fog {
        position: absolute; top:290px
    }
    .log{
        margin-top: -50px;
        margin-bottom: -40px;
    }
}

@media (min-width: 992px) {
    .fog {
        position: absolute; top:290px; left:300px
    }
}



.connexion{
    background-image: url('../../img/login.jpg');
    background-size: cover;
    padding-bottom: 350px;
    margin-top: 5%;
}

.shad {
    background-color:   #7E1B20; color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
th {

    width:200px;
}

.ici{
    color: #A81616
}


.ici:hover{
    color: #FF474C

            ;
}

.shad:hover{
    background-color:  #FF474C ;
}

input:hover {
    background-color: black;
}

*{
    margin:0;
    padding:0;
}


html, body {
    height: 100%;
}

body {
    color: #444444;
    padding-top: 0;
}

p, button, li, a, label, select, input, i, table {
    font-family: 'Poppins', sans-serif; !important;
}

h1,h2,h3, h4, h5{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.souligner{
    text-transform:uppercase
}

.souligner:after {
    display:block;
    content: '';
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.souligner:hover:after {
    transform: scaleX(0.1);

}


.reserve:hover{
    font-size: x-large;
    font-weight: bolder;
}


label{
    font-weight: bolder;
}


html {
    font-size: 100%;
}

body{
    font-size: .90em;
}

.inline{
    display: inline;
}

.change{
    color: white;
}

.minuteur{
    margin-right: 2px;
    margin-left: 2px;

}

.parallax{
    height: 60%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url('../../img/photo3.jpg');
}

.parallax2{
    height: 40%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right 35% bottom 100%;

}

.parallax3{
    height: 60%;
    background-attachment: fixed;
    background-position: 90% 85%;
    background-size: cover;
    background-image: url('../../img/photo3.jpg');
}


.parallax4{
    height: 60%;
    background-attachment: fixed;
    background-position: 90% 95%;
    background-size: cover;
    background-image: url('../../img/photo3.jpg');
}

.parallax5{
    height: 60%;
    background-attachment: fixed;
    background-position: 90% 70%;
    background-size: cover;
    background-image: url('../../img/photo3.jpg');
}


.titre{
    background-color: black;
    color: white;
    padding: 20px
}

.dropdown:hover .dropdown-content {
    display: block;
}


@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
    .parallax2{
        background-attachment: scroll;
    }
}

.minuteur-top{
    margin-right: 2px;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-style: italic;
    font-size: x-large;
}

@media (max-width: 800px) {
    .flex {
        flex-direction: column;
    }
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    margin: 15px 0 0 0;

    font-weight: 700;
    color: #5f5950;
}

.section-title h2 span {
    color: #ffb03b;
}

.section-title p {
    margin: 15px auto 0 auto;
    font-weight: 300;
}

@media (min-width: 1024px) {
    .section-title p {
        width: 50%;
    }
}

.info-wrap {
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px
}

.info-wrap h5 {
    font-weight: 500;
    color: #433f39;
}

.info-wrap p {
    color: #7a7368;
}


.bg-gradient {
    background: #C9D6FF;
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
    background: linear-gradient(to right, #E2E2E2, #C9D6FF);
}

.pricing-divider {
    border-radius: 20px;
    background: black;
    padding: 1em 0 4em;
    position: relative;
}

.blue .pricing-divider{
    background: black;
}
.green .pricing-divider {
    background: black;
}
.red b {
    color:black
}
.blue b {
    color:black
}
.green b {
    color:black
}
.pricing-divider-img {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 80px;
}
.deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.img-float {
    width:50px; position:absolute;top:-3.5rem;right:1rem
}

.princing-item {
    transition: all 150ms ease-out;
}
.princing-item:hover {
    transform: scale(1.05);
}



#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
}

.carousel-item:nth-child(1) {
    background-image: url('../../img/accueil2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(2) {
    background-image: url('../../img/accueil3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(3) {
    background-image: url('../../img/accueil1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.container-fluid{
    margin-bottom: 50px;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #introCarousel {
        margin-top: -58.59px;
    }
}


@media (max-width: 800px) {
    .none {
        display: none;
    }
}

.vertical-menu {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    background-size: 100% auto;
   ;
}

.vertical-menu a {
    color: white;
    margin: 10px;
    text-decoration: none;
    padding: 3px;
}

.vertical-menu a:hover {

    color: #A81616;

    margin :10px
}

h1:hover{
    color: #A81616;
}

.reg{
    color : white;
}

.reg:hover{
    color : white;
    font-size: 18px;
    font-weight: bold;
}

.register{
    float:right
}
