<footer id="footer">
    <div class="container">
        <a href="{{ path('home') }}">
        <img src="{{ asset('img/navbar.png') }}" alt="Jodelap Coaching" style="width: 300px">
        </a>
        <div class="social-links">
            <a href="https://www.youtube.com/channel/UC-ocbzz-hAWorh3F6Op9KDA" class="youtube"><i class='bx bxl-youtube'></i></a>
            <a href="https://www.facebook.com/jodelapcoaching/" class="facebook"><i class='bx bxl-facebook' ></i></a>
            <a href="https://www.instagram.com/jodelapcoaching/" class="instagram"><i class='bx bxl-instagram'></i></a>
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>Vivien JOLY</span></strong> Tous droits réservés
        </div>

    </div>
</footer>

