<footer id="footer">
    <div class="container">
        <h3>JodelapCoaching</h3>
        <div class="social-links">
            <a href="https://www.facebook.com/jodelapcoaching/" class="facebook"><i class='bx bxl-facebook' ></i></a>
            <a href="https://www.instagram.com/jodelapcoaching/" class="instagram"><i class='bx bxl-instagram'></i></a>
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>Bezak Design - Vivien JOLY -</span></strong> Tous droits réservés
        </div>

    </div>
</footer>

