{% extends 'base.html.twig' %}

{% block title %}Coaching{% endblock %}

{% block body %}

<a href="{{ path('home') }}">
    <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed mt-5 mb-5" alt="Logo">
</a>
<div class="container">
    {{ form(form) }}
</div>

{% endblock %}