{% extends 'base.html.twig' %}

{% block title %}JodelapCoaching - Nombre de participants{% endblock %}

{% block body %}

    <div class="global-container">

    <a href="{{ path('home') }}">
        <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed mt-4" alt="Logo">
    </a>
        <h1 class="text-center mt-4 titre">Merci d'indiquer le nombre de personnes <strong>en vous comptant</strong> pour la session !</h1>

        <div class="container" style="margin-top: 7%">
    {{ form(form) }}
</div>
    </div>
{% endblock %}