{% extends 'base.html.twig' %}

{% block title %}Jodelap Coaching - Changement coordonnées -{% endblock %}

{% block body %}
<section class="container mt-5 ">
    <a href="{{ path('home') }}">
        <img src="{{ asset('img/capture1.PNG') }}"  class="img-fluid displayed" alt="Logo">
    </a>
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-10">
            <h1 class="text-center mt-3">Modifier vos coordonnées</h1>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-2 col">
            {% include 'navbar/navbarVertical.html.twig' %}
        </div>

        <div class="col-lg-10 col">
            {{ form(form) }}
        </div>
    </div>
</section>

{% endblock %}