{% extends 'base.html.twig' %}

{% block title %}Jodelap Coaching - Changement coordonnées -{% endblock %}

{% block body %}



        {% include 'navbar/navbar.html.twig' %}

        <div style="background-color: black; padding-top: 90px; padding-bottom: 40px">

            <a href="{{ path('home') }}">
                <img src="{{ asset('img/SITEBLANC.png') }}" style="filter: brightness(40%)"  class="img-fluid displayed mt-4" alt="Logo">
            </a>
        </div>


    <div class="global-container">
    <h1 class="text-center titre">Modifier vos coordonnées</h1>
<section class="container mt-5 ">

    <div class="row mt-5">
        <div class="col-lg-2 col">
            {% include 'navbar/navbarVertical.html.twig' %}
        </div>

        <div class="col-lg-10 col">
            {{ form(form) }}
        </div>
    </div>

</section>
    </div>

    {% include 'navbar/footer.html.twig' %}


{% endblock %}